.nav-icon {
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    z-index: 6;
    border-radius: 50%;
}

.nav-icon__middle {
    position: relative;
    width: 24px;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;

}

.nav-icon__middle::before,
.nav-icon__middle::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
}

.nav-icon__middle::before {
    top: 7px;
    transition: all .2s ease-in;
}

.nav-icon__middle::after {
    bottom: 7px;
    transition: all .2s ease-in;
}

.nav-icon.nav-icon--active .nav-icon__middle {
    background-color: transparent;
    transition: all .2s ease-in;
}

.nav-icon.nav-icon--active .nav-icon__middle::before {
    transform: rotate(45deg);
    top: 0;
    transition: all .2s ease-in;

}

.nav-icon.nav-icon--active .nav-icon__middle::after {
    transform: rotate(-45deg);
    bottom: 0;
    transition: all .2s ease-in;

}

@media(max-width: 1200px) {
    .menu__list li a {
        text-transform: none;
    }

    .menu__list {
        gap: 2rem;
    }

    .header-top__contact-link--phone {
        font-size: 16px;
    }
}


@media(max-width: 968px) {
    .nav-icon {
        position: relative;
        display: block;
        z-index: 8;
    }

    .menu {
        position: fixed;
        width: 60%;
        // height: 100dvh;
        display: flex;
        padding-right: 2rem;
        flex-direction: column;
        height: 100%;
        // background: rgb(220, 220, 220);
        background: rgb(21, 22, 24);
        right: 0;
        top: 0;
        color: #363636;
        z-index: 2;
        border-radius: 0px;
        transform: translateX(200%);
        transition: all .5s ease-in;
    }

    .menu__list {
        width: 100%;
        flex-direction: column;
        margin-top: 8.5rem;
        align-items: flex-end;
        margin-bottom: 2rem;
        gap: 2.5rem;
    }

    .menu__list li {
        padding-bottom: 1rem;
    }


    .menu__list li a {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }

    .menu.nav--active {
        transform: translateX(0%);
        transition: all .5s ease-in;
        margin-left: 0;
    }

}

@media(max-width: 550px) {
    .logo {
        width: 90px;
    }

    .header__inner.header-bg .header-top {
        padding-top: 2rem;
    }

    .header-top__contact-link--phone {
        font-size: 14px;
    }

    .header__inner {

        height: 50px;
    }

    .menu {
        width: 75%;
    }

    .header__inner.header-bg {
        height: 6.3rem;
    }

    .header__inner--mobile {
        height: 5.5rem;
        background: #151618;
    }

    .header-top__contact-link img {
        width: 16px;
        height: 16px;
    }

    .header-block__heading-title {
        font-size: 28px;
    }

    .header-top__contact {
        align-items: center;
    }
}