.modal-events {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    z-index: 12;
    display: none;
}

.modal-events__inner {
    max-width: 62rem;
    position: relative;
    padding: 6rem;
    border-radius: 15px;
    box-shadow: 4px 12px 40px 2px rgba(12, 17, 31, 0.15);
    background: rgb(255, 255, 255);
}

.modal-events__inner-title {
    margin-bottom: 1rem;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    color: #000;
}

.modal-events__inner-text {
    margin-bottom: 3rem;
    font-size: 16px;
    text-align: center;
    color: rgb(79, 79, 79);
}

.modal-events__form-input {
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 0 2rem;
    height: 5.6rem;
    line-height: 5.6rem;
    font-size: 16px;
    color: rgb(79, 79, 79);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    background-color: #fff;
    outline: none;
}


.modal-events__label {
    display: flex;
}

.modal-events__form-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.modal-events__form-custom {
    min-width: 18px;
    height: 18px;
    border-radius: 2px;
    transform: translateY(7px);
    background: #FFF;
    border: 1px solid rgb(82, 82, 82);
}

.modal-events__form-checkbox:checked+.modal-events__form-custom {
    background: url('../images/Check.svg') no-repeat;
    background-position: center;
}

.modal-events__form-input::placeholder {
    font-size: 16px;
    color: rgb(79, 79, 79);
}

.modal-events__form-input:focus,
.modal-events__form-textarea:focus {
    border: 1px solid rgb(247, 206, 84);
}

.modal-events__form-textarea {
    width: 100%;
    margin-bottom: 3rem;
    height: 19rem;
    padding: 2rem;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    font-size: 16px;
    color: rgb(79, 79, 79);
    resize: none;
    outline: none;
}

.modal-events__form-textarea::placeholder {
    font-size: 16px;
    color: rgb(79, 79, 79);
}

.modal-events__form-text {
    margin-left: 1.2rem;
    font-size: 16px;
    color: rgb(79, 79, 79);
}

.modal-events__form-btn {
    margin-top: 2.5rem;
    display: block;
    height: 6rem;
    width: 100%;
    font-size: 16px;
    line-height: 6rem;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    background: rgb(247, 206, 84);
}

.modal-events__form-btn:hover {
    background: rgb(255, 153, 0);
}

.modal-events__close {
    position: absolute;
    top: 35px;
    right: 50px;
    cursor: pointer;
    font-size: 3.5rem;
}

.show {
    display: flex;
}

.hide {
    display: none;
}